* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: rgb(17, 112, 103);
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

ul li {
    margin: 0 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    padding: 5%;
}

p {
    padding: 5%;
    border: 3px solid slateblue;
}